mariadb:
  image:
    tag: "latest"
  auth:
    rootPassword: test1234
registration:
  replicaCount: 1
  image:
    repository: holzleube/ttt-registration
    tag: "0.0.2-SNAPSHOT-57cf4e9"
  network:
    http:
      ingress:
        host: ttt-registration.apps.baloise.dev
  env:
    - name: SPRING_DATASOURCE_URL
      value: "jdbc:mariadb://ttt-registration-mariadb:3306/ttvettlingen"
    - name: SPRING_DATASOURCE_USERNAME
      value: root
    - name: SPRING_DATASOURCE_PASSWORD
      value: test1234
    - name: SATURDAY_URL
      value: "https://www.click-tt.de/cgi-bin/WebObjects/nuLigaKurierTTDE.woa/wa/tournamentExport?tournamentId=vPDN8Ey3BW69JmcBtq5aukaRK7fE4pW2"
    - name: SUNDAY_URL
      value: "https://www.click-tt.de/cgi-bin/WebObjects/nuLigaKurierTTDE.woa/wa/tournamentExport?tournamentId=wxbpSFHJMQ9fxCdl%2B2dLH5tClATFLQ71"
  resources:
    requests:
      memory: 1Gi
      cpu: 2
    limits:
      memory: 2Gi
      cpu: 4
