mariadb:
  image:
    tag: "latest"
  auth:
    rootPassword: test1234
registration:
  replicaCount: 1
  image:
    repository: holzleube/ttt-registration
    tag: "0.0.2-SNAPSHOT-33ce517"
  network:
    http:
      ingress:
        host: ttt-registration.apps.baloise.dev
  env:
    - name: SPRING_DATASOURCE_URL
      value: "jdbc:mariadb://ttt-registration-mariadb:3306/ttvettlingen"
    - name: SPRING_DATASOURCE_USERNAME
      value: root
    - name: SPRING_DATASOURCE_PASSWORD
      value: test1234
  resources:
    requests:
      memory: 1Gi
      cpu: 2
    limits:
      memory: 2Gi
      cpu: 4
