mysql:
  image:
    repository: bitnami/mysql
    tag: "5.7.40"
  auth:
    username: ttv
    passwort: test1234
    rootPassword: test12345
  primary:
    podSecurityContext:
      enabled: false
    livenessProbe:
      enabled: false
    readinessProbe:
      enabled: false
    startupProbe:
      enabled: false
    containerSecurityContext:
      runAsUser: 1000890000
  volumePermissions:
    enabled: true
mariadb:
  image:
    repository: bitnamisecure/mariadb
    tag: "latest"
  auth:
    rootPassword: test1234
registration:
  replicaCount: 1
  image:
    repository: holzleube/ttt-registration
    tag: "0.0.1-SNAPSHOT-0bf8cfd"
  network:
    http:
      ingress:
        host: ttt-registration.apps.baloise.dev
  env:
    - name: SPRING_DATASOURCE_URL
      value: "jdbc:mariadb://ttt-registration-mariadb:3306/ttvettlingen24"
    - name: SPRING_DATASOURCE_USERNAME
      value: root
    - name: SPRING_DATASOURCE_PASSWORD
      value: test1234
  resources:
    requests:
      memory: 1Gi
      cpu: 2
    limits:
      memory: 2Gi
      cpu: 4
